
/**
* Container > Row > Column
*/

.container,
.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 var(--primary-gap);
}

.container {
    width: 140rem;
} 

.container-fluid {
    width: 100%;
}

.product-images {
    max-width: 100%;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(0 - var(--primary-gap));
    margin-right: calc(0 - var(--primary-gap));
}

.row.h-unset { height: unset }

.row.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding-left: var(--primary-gap);
    padding-right: var(--primary-gap);
}

.row.no-gutter .col-1,
.row.no-gutter .col-2,
.row.no-gutter .col-3,
.row.no-gutter .col-4,
.row.no-gutter .col-5,
.row.no-gutter .col-6,
.row.no-gutter .col-7,
.row.no-gutter .col-8,
.row.no-gutter .col-9,
.row.no-gutter .col-10,
.row.no-gutter .col-11,
.row.no-gutter .col-12 {
    padding-left: 0;
    padding-right: 0;
}

/* Desktop devices */
.col-1 {
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
}

.col-2 {
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}

.col-5 {
    flex: 0 0 41.6666%;
    max-width: 41.6666%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}

.col-8 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}

.col-11 {
    flex: 0 0 91.6666%;
    max-width: 91.6666%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Mobile devices -> Width < 740px */
@media screen and (max-width: 46.1875em) {
    .col-sm-1 {
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }
    
    .col-sm-2 {
        flex: 0 0 16.6666%;
        max-width: 16.6666%;
    }
    
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-sm-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    
    .col-sm-5 {
        flex: 0 0 41.6666%;
        max-width: 41.6666%;
    }
    
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-sm-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    
    .col-sm-8 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .col-sm-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    
    .col-sm-11 {
        flex: 0 0 91.6666%;
        max-width: 91.6666%;
    }
    
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* Tablet devices -> 740px <= Width < 1023px */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .col-md-1 {
        flex: 0 0 8.3333%;
        max-width: 8.3333%;
    }
    
    .col-md-2 {
        flex: 0 0 16.6666%;
        max-width: 16.6666%;
    }
    
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    
    .col-md-5 {
        flex: 0 0 41.6666%;
        max-width: 41.6666%;
    }
    
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-md-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    
    .col-md-8 {
        flex: 0 0 66.6666%;
        max-width: 66.6666%;
    }
    
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .col-md-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    
    .col-md-11 {
        flex: 0 0 91.6666%;
        max-width: 91.6666%;
    }
    
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}