.header {
    display: flex;
    position: fixed;
    z-index: 1;
    background: #ff1100;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
}

body {
    background: #eae7dc;
}

.header .logo {
    display: flex;
    justify-content: end;
}

.header .logo img {
    margin-left: 0;
    margin-right: 0;
    height: auto;
    width: 8rem;
    object-fit:contain;
    object-position: center;
}

.header .name {
    display: flex;
    justify-content: start;
}

.header .name h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    color: var(--black-clr);
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.4rem #ffff;
}

.header .navbar a {
    color: #1b100d;
    font-size: var(--fs-xl);
    padding-left: 3rem;
}

.header .navbar a span {
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.header .navbar a:hover {
    color: #f8b989;
}

.header .search-bar {
    background: var(--white-clr);
    border-radius: 1.5rem;
    width: 35rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.search-bar form {
    width: 100%;
    --rounded: 999px;
    background-color: var(--white-clr);
    border-radius: var(--rounded);
    overflow: hidden;
}

.search-bar form input {
    flex: 1;
    height: var(--size);
    padding: 0 var(--primary-gap);
}

.search-bar form button {
    width: var(--size);
    height: var(--size);
    will-change: background;
    border-radius: var(--rounded);
}

.search-bar form button:hover {
    background-color: #ebebeb;
}

.search-bar form button i {
    margin-top: 0.6rem;
}

/* Mobile devices -> Width < 740px */
@media screen and (max-width: 46.1875em) {

    .header .name h1 {
        font-size: 4rem;
        font-weight: 900;
    }

    .header .navbar a {
        font-size: var(--fs-lg);
    }
}

/* Tablet devices -> 740px <= Width < 1023px */
@media screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}